.container {
  margin-top: 30px;
  margin-bottom: 150px;
  justify-content: space-between;
  align-items: center;
}

.video {
  max-width: 90%;
  height: auto;
}

@media (min-width: 600px) {
  .container {
    padding-top: 30px;
    margin-bottom: 120px;
  }
}
